/* Estilo del cuerpo de la página */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Cambié la fuente a 'Helvetica Neue' y añadí fuentes de respaldo */
  background-color: #bfbfbf; /* Cambié el color de fondo */
  color: #fff; /* Color de texto */
  margin: 0; /* Eliminé el margen predeterminado */
  padding: 0; /* Eliminé el padding predeterminado */
}

/* Estilo del encabezado */
header {
  background-color: #ffffff; /* Cambié el color de fondo */
  color: #000000; /* Color de texto */
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #fff;
}

header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

/* Estilo de la barra de navegación */
nav {
  background-color: #ffffff; /* Cambié el color de fondo */
  color: #000000; /* Color de texto */
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000000; /* Color de texto */
  font-weight: bold;
  font-size: 16px;
}

/* Estilo del contenido principal */
main {
  max-width: 800px; /* Ancho máximo del contenido */
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; /* Cambié el color de fondo */
  color: #000000; /* Color de texto */
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(246, 246, 246, 0.5);
}

main h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.add-button {
  background-color: #00a629;
  color: #fff;
  padding: 10px 20px; /* Ajusta el padding según tus preferencias */
  border: none;
  border-radius: 1px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  width: auto; /* Ajusta el ancho del botón según tus preferencias */
}

.add-button:hover {
  background-color: #006f1e; /* Color café en estado hover */
  color: #fff; /* Texto en blanco en estado hover */
}

.edit-button {
  background-color: #0a107a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px;
  font-size: 16px;
  width: auto;
}

.delete-button {
  background-color: #b50000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px;
  font-size: 16px;
  width: auto;
}


main p {
  font-size: 18px;
  line-height: 1.5;
}

/* Estilo del pie de página */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #ffffff; /* Cambié el color de fondo */
  color: #000000; /* Color de texto */
  border-top: 2px solid #fff;
}

footer p {
  font-size: 14px;
}

/* Estilo de los enlaces */
a {
  color: #ffcc00; /* Color de texto */
}

a:hover {
  color: #ff6600; /* Cambié el color de texto al hacer hover */
}

/* Estilo de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center; /* Alineación de texto centrado */
}

table th {
  background-color: #00658e;
  color: #fff;
  font-weight: bold;
}
